asgiref==3.8.1
Django==5.2.1
git-filter-repo==2.47.0
pillow==11.3.0
psycopg==3.2.9
psycopg2-binary==2.9.10
pycodestyle==2.14.0
python-dotenv==1.1.0
redis==6.2.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
django_redis
gunicorn
